td, th {
  --border-color: grey;
}

.BorderBottom {
  border-bottom: 1px solid var(--border-color);
}

.BorderTop {
  border-top: 1px solid var(--border-color);
}

.BorderLeft {
  border-left: 1px solid var(--border-color);
}

.BorderRight {
  border-right: 1px solid var(--border-color);
}

.LeftAligned {
  text-align: left;
  padding-left: 0.5rem;
}

.DiagramClickable {
  background-color: rgb(191, 255, 80);
}

.DiagramClickable:hover {
  background-color: rgb(133, 199, 18);
  cursor: pointer;
}

.DiagramClicked {
  background-color: rgb(224, 212, 40);
}