.cust {
  border: none;
  background-color: inherit;
}

td,
th {
  text-align: center;
  font-weight: 400;
}

table {
  border-collapse: collapse;
}

div {
  pointer-events: auto;
}

footer {
  background-color: var(--bs-secondary);
}

.footer {
  color: var(--bs-gray-400);
}

.link-footer, .link-footer:link, .link-footer:visited {
  color: inherit;
}

.link-footer:hover {
  color: white;
}